.feed-container {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 15px 60px;
  border: 3px;
  background-color: #E9EAEF;
}
.feed-container > h1 {
  text-align: left;
  margin-left: 1em;
}

.feed-container-cardcontainer {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}
.feed-container-cardcontainer > hr {
  border: 1px solid black;
  margin-bottom: 2em;
  width: 100%;
}
.feed-container > hr {
  border: 1px solid black;
  margin-bottom: 2em;
  width: 100%;
}
.grid {
  display: flex;
  flex-direction: row;
}

.grid > hr {
  border: 1px solid white;
  margin-bottom: 2em;
  width: 100px;
}
.slave-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
