.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  background-color: white;
}

.imgclass {
  /* margin-top: 12px; */
  height: 23px;
  width: 110px;
}
.header > h3 {
  margin-top: 4px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.user-btn {
  display: flex;
  margin: 0px 0px 6px 6px;
  border: 1px solid;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 140px;
}
.user-btn > img {
  padding: 4px;
  height: 40%;
  width: 15%;
}
.user-btn > p {
  margin-top: 6px;
  margin-left: 2px;
  padding: 0em;
  text-align: center;
  margin-bottom: 0px;
}
.feed-btn {
  display: flex;
  margin: 0px 0px 6px 0px;
  border: 1px solid;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 80px;
}
.feed-btn > img {
  padding: 4px;
  height: 45%;
  width: 25%;
}
.feed-btn > p {
  margin-top: 6px;
  margin-left: 2px;
  padding: 0em;
  text-align: center;
  margin-bottom: 0px;
}
.home-btn {
  display: flex;
  margin: 0px 0px 6px 0px;
  border: 1px solid;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 100px;
}
.home-btn > img {
  padding: 4px;
  height: 40%;
  width: 25%;
}
.home-btn > p {
  margin-top: 6px;
  margin-left: 2px;
  padding: 0em;
  text-align: center;
  margin-bottom: 0px;
}
/* .header > button > img {
  padding: 4px;
  height: 30%;
  width: 15%;
}
.header > button > p {
  margin-top: 9px;
  padding: 0em;
  margin-bottom: 0px;
} */