.app-container {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 15px 60px;
  border: 3px;
  background-color: #e9e8ef;
}

.app-container > h1 {
  align-self: flex-start;
}

.app-container > hr {
  border: 1px solid grey;
  width: 100%;
}

.app-container > .upper-cards {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
}
